@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Playwrite US Trad", cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main h1{
    color: aliceblue;
    font-family: "Playwrite US Trad", cursive;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-weight: 300;
    font-size: 50px;
}
main h2{
    color: aliceblue;
    font-family: "Playwrite US Trad", cursive;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-weight: 300;
    font-size: 40px;
}
main p{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-size: 22px;
}
main strong{
    color: red;
}

body{
   width: 100%; 
   background: url(../img/1234.jpg) top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.background{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.572);
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.home{
    text-align: center;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.homenagem h1{
    font-family: "Playwrite US Trad", cursive;
    font-size: 30px;
}
.homenagem p{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}
.homenagem .infor{
    text-align: center;
    width: 50%;

}
.homenagem{
    text-align: start;
    max-width: 1440px;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.galeria img{
    margin: 20px;
    width: 300px;
    border-radius: 25px;
    border: solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 0.5s ease-in-out;
}
.galeria img:hover{
    transform: scale(1.2);
}
.galeria h1{
    font-family: "Playwrite US Trad", cursive;
    margin-bottom: 50px;
    color: rgb(234, 203, 203);
}
.galeria{
    border: solid rgb(13, 23, 93);
    padding:20px;
    background: linear-gradient( to bottom, rgb(172, 147, 147), rgb(162, 75, 75));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 50px auto 0;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.bloco{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
footer h1{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}
footer p{
    color: aliceblue;
    font-family: "Poppins", sans-serif;
}
footer{
    margin-top: 70px;
    background-color: rgb(13, 23, 93);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}


@media (max-width:750px){
    main h1{
        font-size: 30px;
    }
    main h2{
        font-size: 22px;
    }
    main p{
        font-size: 15px;
    } 
    .homenagem{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 0 60px;
        gap: 30px;
    }
    .homenagem img{
        width: 90%;
        border-radius: 25px;
        border: solid white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .homenagem h1{
        font-family: "Playwrite US Trad", cursive;
        font-size: 17px;
    }
    .homenagem p{
        font-family: "Poppins", sans-serif;
        font-size: 15px;
    }
    .homenagem .infor{
        width: 90%;
    }
    .galeria{
        text-align: center;
    }
    .galeria h1{
        font-size: 17px;
    }
    .galeria img{
        margin: 20px;
        width: 290px;
        border-radius: 25px;
        border: solid white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transition: transform 0.5s ease-in-out;
    }
    .galeria img:hover{
        transform: scale(1.2);
    }
    .bloco{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer h1{
        font-size: 19px;
    }
    footer p{
        margin-top: 20px;
        font-size: 13px;
    }
}
    


